<!--success page shown when login done-->>
@{
    ViewBag.Title = "Success";
}

<script src="~/js/bootstrap.min.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success" role="alert">
                <h2>Success</h2>
                <p>Login successful!</p>
            </div>
        </div>
    </div>
</div>